In [1]:
import pandas as pd  
import numpy as np
import re
import random
from unidecode import unidecode

In [2]:
df=pd.read_csv("Datos_dengue.csv",sep="\t")

In [3]:
df

,ID,País o Subregion,Serotipo,Año,Año.1,In / Out of Subregions,Semana Epidemiológica (a),Total de Casos de Dengue (b),Tasa de Incidencia (c),Confirmados Laboratorio,% Lab Conf (x100),Dengue Grave (d),(DG/D) x100 (e),Muertes,Letalidad (f),Población X 1000
0,2,Costa Rica,"DEN 1,2",2017,2017,Out,52.0,"5,561",113.35,106,1.91,2,0.04,0,0.0,"4,906"
1,2,Costa Rica,"DEN 1,2",2018,2018,Out,52.0,"2,735",55.22,265,9.69,0,0.00,0,0.0,"4,953"
2,2,Costa Rica,"DEN 1,2",2019,2019,Out,52.0,"9,400",189.78,365,3.88,11,0.12,0,0.0,"4,953"
3,2,Costa Rica,"DEN 1,2",2020,2020,Out,53.0,"10,056",203.03,426,4.24,21,0.21,0,0.0,"4,953"
4,2,Costa Rica,"DEN 1,2",2021,2021,Out,52.0,"5,174",100.68,250,4.83,3,0.06,0,0.0,"5,139"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,6,Haití,,2021,2021,Out,50.0,"6,298",54.57,19,0.30,0,0.00,0,0.0,"11,542"
224,6,Haití,,2022,2022,Out,26.0,"3,316",28.73,2,0.06,0,0.00,0,0.0,"11,542"
225,6,Haití,,2023,2023,Out,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"11,542"
226,6,Haití,"DEN 1,2,3,4",2015,2015,Out,52.0,130,1.23,13,10.00,0,0.00,0,0.0,"10,604"
227,Grand Total,Total,Total,Total,Total,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#df[""].value_counts()

In [5]:
datos=pd.read_csv("Casos_dengue.csv", index_col=0)

In [6]:
datos

,Año,Semana Epidemiológica (a),Total de Casos de Dengue (b),Tasa de Incidencia (c),Confirmados Laboratorio,% Lab Conf (x100),Dengue Grave (d),(DG/D) x100 (e),Muertes,Letalidad (f),Población X 1000,ID_Pais_Subregion,ID_Serotipo,ID_Calendario
ID,,,,,,,,,,,,,,
1,2017,52.0,5561.0,"113,35100",106.0,"1,90613",2.0,"0,03596",0.0,0.0,4906,1,1,1
2,2018,52.0,2735.0,"55,21906",265.0,"9,68921",0.0,"0,00000",0.0,0.0,4953,1,1,2
3,2019,52.0,9400.0,"189,78397",365.0,"3,88298",11.0,"0,11702",0.0,0.0,4953,1,1,3
4,2020,53.0,10056.0,"203,02847",426.0,"4,23628",21.0,"0,20883",0.0,0.0,4953,1,1,4
5,2021,52.0,5174.0,"100,68107",250.0,"4,83185",3.0,"0,05798",0.0,0.0,5139,1,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,2020,50.0,1783.0,"16,04427",56.0,"3,14077",0.0,"0,00000",0.0,0.0,11113,21,4,4
225,2021,50.0,6298.0,"54,56593",19.0,"0,30168",0.0,"0,00000",0.0,0.0,11542,21,4,5
226,2022,26.0,3316.0,"28,72986",2.0,"0,06031",0.0,"0,00000",0.0,0.0,11542,21,4,9
227,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11542,21,4,10
228,2015,52.0,130.0,"1,22595",13.0,"10,00000",0.0,"0,00000",0.0,0.0,10604,21,3,7

In [7]:
datos.columns

Index(['Año', 'Semana Epidemiológica (a)', 'Total de Casos de Dengue (b)',
       'Tasa de Incidencia (c)', 'Confirmados Laboratorio',
       '% Lab Conf (x100)', 'Dengue Grave (d)', '(DG/D) x100 (e)', 'Muertes',
       'Letalidad (f)', 'Población X 1000', 'ID_Pais_Subregion', 'ID_Serotipo',
       'ID_Calendario'],
      dtype='object')

In [8]:

# Nuevo nombre para las columnas
new_column_names = {
    'ID': 'Id',
    'Año': 'Año',
    'Semana Epidemiológica (a)': 'Semana_Epidemiologica',
    'Total de Casos de Dengue (b)': 'Total_Casos',
    'Tasa de Incidencia (c)': 'Tasas_Incidencias',
    'Confirmados Laboratorio': 'Confirmados_Laboratorio',
    '% Lab Conf (x100)': 'Porcentaje_Laboratorio_Confirmado',
    'Dengue Grave (d)': 'Dengue_Grave',
    '(DG/D) x100 (e)': 'Porcentaje_Dengue_Grave',
    'Muertes': 'Muertes',
    'Letalidad (f)': 'Letalidad',
    'Población X 1000': 'Poblacion_x_1000',
    'ID_Pais_Subregion': 'ID_Pais',
    'ID_Serotipo': 'ID_Serotipo',
    'ID_Calendario': 'ID_Calendario'
}

# Renombrar columnas usando rename()
datos.rename(columns=new_column_names, inplace=True)

In [9]:
datos

,Año,Semana_Epidemiologica,Total_Casos,Tasas_Incidencias,Confirmados_Laboratorio,Porcentaje_Laboratorio_Confirmado,Dengue_Grave,Porcentaje_Dengue_Grave,Muertes,Letalidad,Poblacion_x_1000,ID_Pais,ID_Serotipo,ID_Calendario
ID,,,,,,,,,,,,,,
1,2017,52.0,5561.0,"113,35100",106.0,"1,90613",2.0,"0,03596",0.0,0.0,4906,1,1,1
2,2018,52.0,2735.0,"55,21906",265.0,"9,68921",0.0,"0,00000",0.0,0.0,4953,1,1,2
3,2019,52.0,9400.0,"189,78397",365.0,"3,88298",11.0,"0,11702",0.0,0.0,4953,1,1,3
4,2020,53.0,10056.0,"203,02847",426.0,"4,23628",21.0,"0,20883",0.0,0.0,4953,1,1,4
5,2021,52.0,5174.0,"100,68107",250.0,"4,83185",3.0,"0,05798",0.0,0.0,5139,1,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,2020,50.0,1783.0,"16,04427",56.0,"3,14077",0.0,"0,00000",0.0,0.0,11113,21,4,4
225,2021,50.0,6298.0,"54,56593",19.0,"0,30168",0.0,"0,00000",0.0,0.0,11542,21,4,5
226,2022,26.0,3316.0,"28,72986",2.0,"0,06031",0.0,"0,00000",0.0,0.0,11542,21,4,9
227,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11542,21,4,10
228,2015,52.0,130.0,"1,22595",13.0,"10,00000",0.0,"0,00000",0.0,0.0,10604,21,3,7

In [10]:
datos.columns

Index(['Año', 'Semana_Epidemiologica', 'Total_Casos', 'Tasas_Incidencias',
       'Confirmados_Laboratorio', 'Porcentaje_Laboratorio_Confirmado',
       'Dengue_Grave', 'Porcentaje_Dengue_Grave', 'Muertes', 'Letalidad',
       'Poblacion_x_1000', 'ID_Pais', 'ID_Serotipo', 'ID_Calendario'],
      dtype='object')

In [11]:
#datos[['Año', 'Semana_Epidemiologica', 'Total_Casos', 'Tasas_Incidencias',
#       'Confirmados_Laboratorio', '%_Laboratorio_Confirmado', 'Dengue_Grave',
#       '%_Dengue_Grave', 'Muertes', 'Letalidad', 'Poblacion_x_1000', 'ID_Pais',
#       'ID_Serotipo', 'ID_Calendario']]

In [12]:
# Eliminar los separadores de miles y convertir comas decimales a puntos
columns_to_convert = ['Tasas_Incidencias', 'Porcentaje_Laboratorio_Confirmado', 'Porcentaje_Dengue_Grave']
for column in columns_to_convert:
    datos[column] = datos[column].str.replace('.', '', regex=False)  # Eliminar separadores de miles
    datos[column] = datos[column].str.replace(',', '.', regex=False)  # Reemplazar comas decimales por puntos
    datos[column] = pd.to_numeric(datos[column], errors='coerce')  # Convertir a float, coercing errors to NaN

# Redondear las columnas a 2 decimales
datos[columns_to_convert] = datos[columns_to_convert].round(2)

# Mostrar el DataFrame para verificar los cambios
datos

,Año,Semana_Epidemiologica,Total_Casos,Tasas_Incidencias,Confirmados_Laboratorio,Porcentaje_Laboratorio_Confirmado,Dengue_Grave,Porcentaje_Dengue_Grave,Muertes,Letalidad,Poblacion_x_1000,ID_Pais,ID_Serotipo,ID_Calendario
ID,,,,,,,,,,,,,,
1,2017,52.0,5561.0,113.35,106.0,1.91,2.0,0.04,0.0,0.0,4906,1,1,1
2,2018,52.0,2735.0,55.22,265.0,9.69,0.0,0.00,0.0,0.0,4953,1,1,2
3,2019,52.0,9400.0,189.78,365.0,3.88,11.0,0.12,0.0,0.0,4953,1,1,3
4,2020,53.0,10056.0,203.03,426.0,4.24,21.0,0.21,0.0,0.0,4953,1,1,4
5,2021,52.0,5174.0,100.68,250.0,4.83,3.0,0.06,0.0,0.0,5139,1,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,2020,50.0,1783.0,16.04,56.0,3.14,0.0,0.00,0.0,0.0,11113,21,4,4
225,2021,50.0,6298.0,54.57,19.0,0.30,0.0,0.00,0.0,0.0,11542,21,4,5
226,2022,26.0,3316.0,28.73,2.0,0.06,0.0,0.00,0.0,0.0,11542,21,4,9
227,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11542,21,4,10
228,2015,52.0,130.0,1.23,13.0,10.00,0.0,0.00,0.0,0.0,10604,21,3,7

In [13]:
datos.dtypes

Año                                    int64
Semana_Epidemiologica                float64
Total_Casos                          float64
Tasas_Incidencias                    float64
Confirmados_Laboratorio              float64
Porcentaje_Laboratorio_Confirmado    float64
Dengue_Grave                         float64
Porcentaje_Dengue_Grave              float64
Muertes                              float64
Letalidad                            float64
Poblacion_x_1000                       int64
ID_Pais                                int64
ID_Serotipo                            int64
ID_Calendario                          int64
dtype: object

In [14]:

columns_to_convert = ['Semana_Epidemiologica', 'Total_Casos', 'Confirmados_Laboratorio', 'Dengue_Grave', 'Muertes']

# Convertir las columnas a tipo Int64 directamente
for column in columns_to_convert:
    datos[column] = pd.to_numeric(datos[column], errors='coerce').astype('Int64')

# Mostrar el DataFrame para verificar los cambios
datos

,Año,Semana_Epidemiologica,Total_Casos,Tasas_Incidencias,Confirmados_Laboratorio,Porcentaje_Laboratorio_Confirmado,Dengue_Grave,Porcentaje_Dengue_Grave,Muertes,Letalidad,Poblacion_x_1000,ID_Pais,ID_Serotipo,ID_Calendario
ID,,,,,,,,,,,,,,
1,2017,52,5561,113.35,106,1.91,2,0.04,0,0.0,4906,1,1,1
2,2018,52,2735,55.22,265,9.69,0,0.00,0,0.0,4953,1,1,2
3,2019,52,9400,189.78,365,3.88,11,0.12,0,0.0,4953,1,1,3
4,2020,53,10056,203.03,426,4.24,21,0.21,0,0.0,4953,1,1,4
5,2021,52,5174,100.68,250,4.83,3,0.06,0,0.0,5139,1,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,2020,50,1783,16.04,56,3.14,0,0.00,0,0.0,11113,21,4,4
225,2021,50,6298,54.57,19,0.30,0,0.00,0,0.0,11542,21,4,5
226,2022,26,3316,28.73,2,0.06,0,0.00,0,0.0,11542,21,4,9
227,2023,<NA>,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,11542,21,4,10
228,2015,52,130,1.23,13,10.00,0,0.00,0,0.0,10604,21,3,7

In [15]:
datos.dtypes

Año                                    int64
Semana_Epidemiologica                  Int64
Total_Casos                            Int64
Tasas_Incidencias                    float64
Confirmados_Laboratorio                Int64
Porcentaje_Laboratorio_Confirmado    float64
Dengue_Grave                           Int64
Porcentaje_Dengue_Grave              float64
Muertes                                Int64
Letalidad                            float64
Poblacion_x_1000                       int64
ID_Pais                                int64
ID_Serotipo                            int64
ID_Calendario                          int64
dtype: object

In [16]:
datos

,Año,Semana_Epidemiologica,Total_Casos,Tasas_Incidencias,Confirmados_Laboratorio,Porcentaje_Laboratorio_Confirmado,Dengue_Grave,Porcentaje_Dengue_Grave,Muertes,Letalidad,Poblacion_x_1000,ID_Pais,ID_Serotipo,ID_Calendario
ID,,,,,,,,,,,,,,
1,2017,52,5561,113.35,106,1.91,2,0.04,0,0.0,4906,1,1,1
2,2018,52,2735,55.22,265,9.69,0,0.00,0,0.0,4953,1,1,2
3,2019,52,9400,189.78,365,3.88,11,0.12,0,0.0,4953,1,1,3
4,2020,53,10056,203.03,426,4.24,21,0.21,0,0.0,4953,1,1,4
5,2021,52,5174,100.68,250,4.83,3,0.06,0,0.0,5139,1,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,2020,50,1783,16.04,56,3.14,0,0.00,0,0.0,11113,21,4,4
225,2021,50,6298,54.57,19,0.30,0,0.00,0,0.0,11542,21,4,5
226,2022,26,3316,28.73,2,0.06,0,0.00,0,0.0,11542,21,4,9
227,2023,<NA>,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,11542,21,4,10
228,2015,52,130,1.23,13,10.00,0,0.00,0,0.0,10604,21,3,7

In [18]:
datos.to_excel("Dengue_final.xlsx")

In [ ]:
#pd.set_option('display.max_rows',None)

In [ ]:
import pandas as pd

In [23]:
data=pd.read_excel("Dengue_final.xlsx", index_col=0)
data

,Año,Semana_Epidemiologica,Total_Casos,Tasas_Incidencias,Confirmados_Laboratorio,Porcentaje_Laboratorio_Confirmado,Dengue_Grave,Porcentaje_Dengue_Grave,Muertes,Letalidad,Poblacion_x_1000,ID_Pais,ID_Serotipo,ID_Calendario
ID,,,,,,,,,,,,,,
1,2017,52.0,5561.0,113.35,106.0,1.91,2.0,0.04,0.0,0.0,4906,1,1,1
2,2018,52.0,2735.0,55.22,265.0,9.69,0.0,0.00,0.0,0.0,4953,1,1,2
3,2019,52.0,9400.0,189.78,365.0,3.88,11.0,0.12,0.0,0.0,4953,1,1,3
4,2020,53.0,10056.0,203.03,426.0,4.24,21.0,0.21,0.0,0.0,4953,1,1,4
5,2021,52.0,5174.0,100.68,250.0,4.83,3.0,0.06,0.0,0.0,5139,1,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,2020,50.0,1783.0,16.04,56.0,3.14,0.0,0.00,0.0,0.0,11113,21,4,4
225,2021,50.0,6298.0,54.57,19.0,0.30,0.0,0.00,0.0,0.0,11542,21,4,5
226,2022,26.0,3316.0,28.73,2.0,0.06,0.0,0.00,0.0,0.0,11542,21,4,9
227,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11542,21,4,10
228,2015,52.0,130.0,1.23,13.0,10.00,0.0,0.00,0.0,0.0,10604,21,3,7

In [ ]:
datos.describe()

In [ ]:
data.drop(columns=['Año'], inplace=True)

In [20]:
# Verificar si hay algún valor nulo en cada columna
print(data.isnull().sum())

Año                                   0
Semana_Epidemiologica                 5
Total_Casos                           5
Tasas_Incidencias                     5
Confirmados_Laboratorio              17
Porcentaje_Laboratorio_Confirmado    26
Dengue_Grave                         14
Porcentaje_Dengue_Grave              23
Muertes                               8
Letalidad                            17
Poblacion_x_1000                      0
ID_Pais                               0
ID_Serotipo                           0
ID_Calendario                         0
dtype: int64

In [2]:
import pandas as pd

In [3]:
paises=pd.read_csv("Paises.csv", index_col=0)
paises

    Unnamed: 0.1  ID_Paises                Paises
0              0          1            Costa Rica
1              1          2           El Salvador
2              2          3             Guatemala
3              3          4              Honduras
4              4          5                México
5              5          6             Nicaragua
6              6          7                Panamá
7              7          8               Bolivia
8              8          9              Colombia
9              9         10               Ecuador
10            10         11                  Perú
11            11         12             Venezuela
12            12         13             Argentina
13            13         14                Brasil
14            14         15                 Chile
15            15         16              Paraguay
16            16         17               Uruguay
17            17         18                  Cuba
18            18         19  República Dominicana
19            19         20           Puerto Rico
20            20         21                 Haití

In [5]:
paises_nuevo={"ID_Pais_Subregion":"ID_Paises",
              "País o Subregion": "Paises"}

paises.rename(columns=paises_nuevo, inplace=True)
paises

    Unnamed: 0.1  ID_Paises                Paises
0              0          1            Costa Rica
1              1          2           El Salvador
2              2          3             Guatemala
3              3          4              Honduras
4              4          5                México
5              5          6             Nicaragua
6              6          7                Panamá
7              7          8               Bolivia
8              8          9              Colombia
9              9         10               Ecuador
10            10         11                  Perú
11            11         12             Venezuela
12            12         13             Argentina
13            13         14                Brasil
14            14         15                 Chile
15            15         16              Paraguay
16            16         17               Uruguay
17            17         18                  Cuba
18            18         19  República Dominicana
19            19         20           Puerto Rico
20            20         21                 Haití

In [7]:
paises = paises.drop(columns=['Unnamed: 0.1'])

KeyError: "['Unnamed: 0.1'] not found in axis"

In [8]:
paises

    ID_Paises                Paises
0           1            Costa Rica
1           2           El Salvador
2           3             Guatemala
3           4              Honduras
4           5                México
5           6             Nicaragua
6           7                Panamá
7           8               Bolivia
8           9              Colombia
9          10               Ecuador
10         11                  Perú
11         12             Venezuela
12         13             Argentina
13         14                Brasil
14         15                 Chile
15         16              Paraguay
16         17               Uruguay
17         18                  Cuba
18         19  República Dominicana
19         20           Puerto Rico
20         21                 Haití

In [9]:
paises.to_csv("Paises.csv")

In [11]:
paises

    ID_Paises                Paises
0           1            Costa Rica
1           2           El Salvador
2           3             Guatemala
3           4              Honduras
4           5                México
5           6             Nicaragua
6           7                Panamá
7           8               Bolivia
8           9              Colombia
9          10               Ecuador
10         11                  Perú
11         12             Venezuela
12         13             Argentina
13         14                Brasil
14         15                 Chile
15         16              Paraguay
16         17               Uruguay
17         18                  Cuba
18         19  República Dominicana
19         20           Puerto Rico
20         21                 Haití

In [10]:
serotipo=pd.read_csv("Serotipo.csv")
serotipo

,ID_Serotipo,Serotipo,Serotipo_1,Serotipo_2,Serotipo_3,Serotipo_4,Sin datos
0,1,"DEN 1,2",1,1,0,0,0
1,2,"DEN 1,2,3",1,1,1,0,0
2,3,"DEN 1,2,3,4",1,1,1,1,0
3,4,,0,0,0,0,1
4,5,"DEN 1,3,4",1,0,1,1,0
5,6,DEN 2,0,1,0,0,0
6,7,"DEN 1,2,4",1,1,0,1,0
7,8,"DEN 2,3,4",0,1,1,1,0
8,9,"DEN 2,3",0,1,1,0,0
9,10,DEN 1,1,0,0,0,0
10,11,"DEN 1,3",1,0,1,0,0
11,12,"DEN 1,4",1,0,0,1,0
12,13,DEN 4,0,0,0,1,0
13,14,"DEN 2,4",0,1,0,1,0
14,15,"DEN 3,4",0,0,1,1,0