In [1]:
import pandas as pd  
import numpy as np
import re
import random
from unidecode import unidecode

In [7]:
df=pd.read_csv("Datos_dengue.csv",sep="\t")

In [8]:
df

,ID,País o Subregion,Serotipo,Año,Año.1,In / Out of Subregions,Semana Epidemiológica (a),Total de Casos de Dengue (b),Tasa de Incidencia (c),Confirmados Laboratorio,% Lab Conf (x100),Dengue Grave (d),(DG/D) x100 (e),Muertes,Letalidad (f),Población X 1000
0,2,Costa Rica,"DEN 1,2",2017,2017,Out,52.0,"5,561",113.35,106,1.91,2,0.04,0,0.0,"4,906"
1,2,Costa Rica,"DEN 1,2",2018,2018,Out,52.0,"2,735",55.22,265,9.69,0,0.00,0,0.0,"4,953"
2,2,Costa Rica,"DEN 1,2",2019,2019,Out,52.0,"9,400",189.78,365,3.88,11,0.12,0,0.0,"4,953"
3,2,Costa Rica,"DEN 1,2",2020,2020,Out,53.0,"10,056",203.03,426,4.24,21,0.21,0,0.0,"4,953"
4,2,Costa Rica,"DEN 1,2",2021,2021,Out,52.0,"5,174",100.68,250,4.83,3,0.06,0,0.0,"5,139"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,6,Haití,,2021,2021,Out,50.0,"6,298",54.57,19,0.30,0,0.00,0,0.0,"11,542"
224,6,Haití,,2022,2022,Out,26.0,"3,316",28.73,2,0.06,0,0.00,0,0.0,"11,542"
225,6,Haití,,2023,2023,Out,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"11,542"
226,6,Haití,"DEN 1,2,3,4",2015,2015,Out,52.0,130,1.23,13,10.00,0,0.00,0,0.0,"10,604"
227,Grand Total,Total,Total,Total,Total,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df[""].value_counts()

DEN 1,2,3,4    64
               38
DEN 1,2        36
DEN 1,2,3      27
DEN 2          17
DEN 1,2,4      13
DEN 1          11
DEN 1,4         7
DEN 1,3         4
DEN 2,3         3
DEN 1,3,4       2
DEN 2,3,4       2
DEN 4           1
DEN 2,4         1
DEN 3,4         1
Total           1
Name: Serotipo, dtype: int64

In [2]:
datos=pd.read_csv("Casos_dengue.csv", index_col=0)

In [3]:
datos

,Año,Semana Epidemiológica (a),Total de Casos de Dengue (b),Tasa de Incidencia (c),Confirmados Laboratorio,% Lab Conf (x100),Dengue Grave (d),(DG/D) x100 (e),Muertes,Letalidad (f),Población X 1000,ID_Pais_Subregion,ID_Serotipo,ID_Calendario
ID,,,,,,,,,,,,,,
1,2017,52.0,5561.0,"113,35100",106.0,"1,90613",2.0,"0,03596",0.0,0.0,4906,1,1,1
2,2018,52.0,2735.0,"55,21906",265.0,"9,68921",0.0,"0,00000",0.0,0.0,4953,1,1,2
3,2019,52.0,9400.0,"189,78397",365.0,"3,88298",11.0,"0,11702",0.0,0.0,4953,1,1,3
4,2020,53.0,10056.0,"203,02847",426.0,"4,23628",21.0,"0,20883",0.0,0.0,4953,1,1,4
5,2021,52.0,5174.0,"100,68107",250.0,"4,83185",3.0,"0,05798",0.0,0.0,5139,1,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,2020,50.0,1783.0,"16,04427",56.0,"3,14077",0.0,"0,00000",0.0,0.0,11113,21,4,4
225,2021,50.0,6298.0,"54,56593",19.0,"0,30168",0.0,"0,00000",0.0,0.0,11542,21,4,5
226,2022,26.0,3316.0,"28,72986",2.0,"0,06031",0.0,"0,00000",0.0,0.0,11542,21,4,9
227,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11542,21,4,10
228,2015,52.0,130.0,"1,22595",13.0,"10,00000",0.0,"0,00000",0.0,0.0,10604,21,3,7

In [4]:
datos.columns

Index(['Año', 'Semana Epidemiológica (a)', 'Total de Casos de Dengue (b)',
       'Tasa de Incidencia (c)', 'Confirmados Laboratorio',
       '% Lab Conf (x100)', 'Dengue Grave (d)', '(DG/D) x100 (e)', 'Muertes',
       'Letalidad (f)', 'Población X 1000', 'ID_Pais_Subregion', 'ID_Serotipo',
       'ID_Calendario'],
      dtype='object')

In [5]:

# Nuevo nombre para las columnas
new_column_names = {
    'ID': 'Id',
    'Año': 'Año',
    'Semana Epidemiológica (a)': 'Semana_Epidemiologica',
    'Total de Casos de Dengue (b)': 'Total_Casos',
    'Tasa de Incidencia (c)': 'Tasas_Incidencias',
    'Confirmados Laboratorio': 'Confirmados_Laboratorio',
    '% Lab Conf (x100)': '%_Laboratorio_Confirmado',
    'Dengue Grave (d)': 'Dengue_Grave',
    '(DG/D) x100 (e)': '%_Dengue_Grave',
    'Muertes': 'Muertes',
    'Letalidad (f)': 'Letalidad',
    'Población X 1000': 'Poblacion_x_1000',
    'ID_Pais_Subregion': 'ID_Pais',
    'ID_Serotipo': 'ID_Serotipo',
    'ID_Calendario': 'ID_Calendario'
}

# Renombrar columnas usando rename()
datos.rename(columns=new_column_names, inplace=True)

In [6]:
datos

,Año,Semana_Epidemiologica,Total_Casos,Tasas_Incidencias,Confirmados_Laboratorio,%_Laboratorio_Confirmado,Dengue_Grave,%_Dengue_Grave,Muertes,Letalidad,Poblacion_x_1000,ID_Pais,ID_Serotipo,ID_Calendario
ID,,,,,,,,,,,,,,
1,2017,52.0,5561.0,"113,35100",106.0,"1,90613",2.0,"0,03596",0.0,0.0,4906,1,1,1
2,2018,52.0,2735.0,"55,21906",265.0,"9,68921",0.0,"0,00000",0.0,0.0,4953,1,1,2
3,2019,52.0,9400.0,"189,78397",365.0,"3,88298",11.0,"0,11702",0.0,0.0,4953,1,1,3
4,2020,53.0,10056.0,"203,02847",426.0,"4,23628",21.0,"0,20883",0.0,0.0,4953,1,1,4
5,2021,52.0,5174.0,"100,68107",250.0,"4,83185",3.0,"0,05798",0.0,0.0,5139,1,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,2020,50.0,1783.0,"16,04427",56.0,"3,14077",0.0,"0,00000",0.0,0.0,11113,21,4,4
225,2021,50.0,6298.0,"54,56593",19.0,"0,30168",0.0,"0,00000",0.0,0.0,11542,21,4,5
226,2022,26.0,3316.0,"28,72986",2.0,"0,06031",0.0,"0,00000",0.0,0.0,11542,21,4,9
227,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11542,21,4,10
228,2015,52.0,130.0,"1,22595",13.0,"10,00000",0.0,"0,00000",0.0,0.0,10604,21,3,7

In [7]:
datos.columns

Index(['Año', 'Semana_Epidemiologica', 'Total_Casos', 'Tasas_Incidencias',
       'Confirmados_Laboratorio', '%_Laboratorio_Confirmado', 'Dengue_Grave',
       '%_Dengue_Grave', 'Muertes', 'Letalidad', 'Poblacion_x_1000', 'ID_Pais',
       'ID_Serotipo', 'ID_Calendario'],
      dtype='object')

In [8]:
# Eliminar los separadores de miles y convertir comas decimales a puntos
columns_to_convert = ['Tasas_Incidencias', '%_Laboratorio_Confirmado','%_Dengue_Grave']
for column in columns_to_convert:
    datos[column] = datos[column].str.replace('.', '', regex=False)  # Eliminar separadores de miles
    datos[column] = datos[column].str.replace(',', '.', regex=False)  # Reemplazar comas decimales por puntos
    datos[column] = datos[column].astype(float)  # Convertir a float

# Redondear la columna 'Tasas_Incidencias' a 2 decimales y convertir a string
datos['Tasas_Incidencias'] = datos['Tasas_Incidencias'].round(2).astype(str)

# Mostrar el DataFrame para verificar los cambios
datos

,Año,Semana_Epidemiologica,Total_Casos,Tasas_Incidencias,Confirmados_Laboratorio,%_Laboratorio_Confirmado,Dengue_Grave,%_Dengue_Grave,Muertes,Letalidad,Poblacion_x_1000,ID_Pais,ID_Serotipo,ID_Calendario
ID,,,,,,,,,,,,,,
1,2017,52.0,5561.0,113.35,106.0,1.90613,2.0,0.03596,0.0,0.0,4906,1,1,1
2,2018,52.0,2735.0,55.22,265.0,9.68921,0.0,0.00000,0.0,0.0,4953,1,1,2
3,2019,52.0,9400.0,189.78,365.0,3.88298,11.0,0.11702,0.0,0.0,4953,1,1,3
4,2020,53.0,10056.0,203.03,426.0,4.23628,21.0,0.20883,0.0,0.0,4953,1,1,4
5,2021,52.0,5174.0,100.68,250.0,4.83185,3.0,0.05798,0.0,0.0,5139,1,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,2020,50.0,1783.0,16.04,56.0,3.14077,0.0,0.00000,0.0,0.0,11113,21,4,4
225,2021,50.0,6298.0,54.57,19.0,0.30168,0.0,0.00000,0.0,0.0,11542,21,4,5
226,2022,26.0,3316.0,28.73,2.0,0.06031,0.0,0.00000,0.0,0.0,11542,21,4,9
227,2023,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,11542,21,4,10
228,2015,52.0,130.0,1.23,13.0,10.00000,0.0,0.00000,0.0,0.0,10604,21,3,7

In [9]:
datos[['Año', 'Semana_Epidemiologica', 'Total_Casos', 'Tasas_Incidencias',
       'Confirmados_Laboratorio', '%_Laboratorio_Confirmado', 'Dengue_Grave',
       '%_Dengue_Grave', 'Muertes', 'Letalidad', 'Poblacion_x_1000', 'ID_Pais',
       'ID_Serotipo', 'ID_Calendario']]

,Año,Semana_Epidemiologica,Total_Casos,Tasas_Incidencias,Confirmados_Laboratorio,%_Laboratorio_Confirmado,Dengue_Grave,%_Dengue_Grave,Muertes,Letalidad,Poblacion_x_1000,ID_Pais,ID_Serotipo,ID_Calendario
ID,,,,,,,,,,,,,,
1,2017,52.0,5561.0,113.35,106.0,1.90613,2.0,0.03596,0.0,0.0,4906,1,1,1
2,2018,52.0,2735.0,55.22,265.0,9.68921,0.0,0.00000,0.0,0.0,4953,1,1,2
3,2019,52.0,9400.0,189.78,365.0,3.88298,11.0,0.11702,0.0,0.0,4953,1,1,3
4,2020,53.0,10056.0,203.03,426.0,4.23628,21.0,0.20883,0.0,0.0,4953,1,1,4
5,2021,52.0,5174.0,100.68,250.0,4.83185,3.0,0.05798,0.0,0.0,5139,1,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,2020,50.0,1783.0,16.04,56.0,3.14077,0.0,0.00000,0.0,0.0,11113,21,4,4
225,2021,50.0,6298.0,54.57,19.0,0.30168,0.0,0.00000,0.0,0.0,11542,21,4,5
226,2022,26.0,3316.0,28.73,2.0,0.06031,0.0,0.00000,0.0,0.0,11542,21,4,9
227,2023,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,11542,21,4,10
228,2015,52.0,130.0,1.23,13.0,10.00000,0.0,0.00000,0.0,0.0,10604,21,3,7

In [10]:
datos[['Tasas_Incidencias',"%_Laboratorio_Confirmado","%_Dengue_Grave"]] = datos[['Tasas_Incidencias',"%_Laboratorio_Confirmado","%_Dengue_Grave"]].round(2).astype(str)
datos

,Año,Semana_Epidemiologica,Total_Casos,Tasas_Incidencias,Confirmados_Laboratorio,%_Laboratorio_Confirmado,Dengue_Grave,%_Dengue_Grave,Muertes,Letalidad,Poblacion_x_1000,ID_Pais,ID_Serotipo,ID_Calendario
ID,,,,,,,,,,,,,,
1,2017,52.0,5561.0,113.35,106.0,1.91,2.0,0.04,0.0,0.0,4906,1,1,1
2,2018,52.0,2735.0,55.22,265.0,9.69,0.0,0.0,0.0,0.0,4953,1,1,2
3,2019,52.0,9400.0,189.78,365.0,3.88,11.0,0.12,0.0,0.0,4953,1,1,3
4,2020,53.0,10056.0,203.03,426.0,4.24,21.0,0.21,0.0,0.0,4953,1,1,4
5,2021,52.0,5174.0,100.68,250.0,4.83,3.0,0.06,0.0,0.0,5139,1,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,2020,50.0,1783.0,16.04,56.0,3.14,0.0,0.0,0.0,0.0,11113,21,4,4
225,2021,50.0,6298.0,54.57,19.0,0.3,0.0,0.0,0.0,0.0,11542,21,4,5
226,2022,26.0,3316.0,28.73,2.0,0.06,0.0,0.0,0.0,0.0,11542,21,4,9
227,2023,NaN,NaN,nan,NaN,nan,NaN,nan,NaN,NaN,11542,21,4,10
228,2015,52.0,130.0,1.23,13.0,10.0,0.0,0.0,0.0,0.0,10604,21,3,7

In [13]:
# Columnas que queremos convertir a int
columns_to_convert = ['Confirmados_Laboratorio', 'Dengue_Grave', 'Semana_Epidemiologica', 'Total_Casos', 'Muertes', 'Letalidad']

# Reemplazar comas decimales por puntos y eliminar separadores de miles
for column in columns_to_convert:
    datos[column] = datos[column].replace('.', '', regex=False)  # Eliminar separadores de miles
    datos[column] = datos[column].replace(',', '.', regex=False)  # Reemplazar comas decimales por puntos

# Convertir las columnas a tipo float primero
for column in columns_to_convert:
    datos[column] = pd.to_numeric(datos[column], errors='coerce')  # Convertir a float, coercing errors to NaN

# Función para convertir a int con manejo de excepciones y relleno de NaN con guion -
def safe_convert_to_int(value):
    try:
        if pd.isnull(value):
            return '-'
        return int(value)
    except (ValueError, TypeError):
        return '-'

# Aplicar la función personalizada a las columnas
for column in columns_to_convert:
    datos[column] = datos[column].apply(safe_convert_to_int)

datos

,Año,Semana_Epidemiologica,Total_Casos,Tasas_Incidencias,Confirmados_Laboratorio,%_Laboratorio_Confirmado,Dengue_Grave,%_Dengue_Grave,Muertes,Letalidad,Poblacion_x_1000,ID_Pais,ID_Serotipo,ID_Calendario
ID,,,,,,,,,,,,,,
1,2017,52,5561,113.35,106,1.91,2,0.04,0,0,4906,1,1,1
2,2018,52,2735,55.22,265,9.69,0,0.0,0,0,4953,1,1,2
3,2019,52,9400,189.78,365,3.88,11,0.12,0,0,4953,1,1,3
4,2020,53,10056,203.03,426,4.24,21,0.21,0,0,4953,1,1,4
5,2021,52,5174,100.68,250,4.83,3,0.06,0,0,5139,1,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,2020,50,1783,16.04,56,3.14,0,0.0,0,0,11113,21,4,4
225,2021,50,6298,54.57,19,0.3,0,0.0,0,0,11542,21,4,5
226,2022,26,3316,28.73,2,0.06,0,0.0,0,0,11542,21,4,9
227,2023,-,-,nan,-,nan,-,nan,-,-,11542,21,4,10
228,2015,52,130,1.23,13,10.0,0,0.0,0,0,10604,21,3,7

In [14]:
datos.columns

Index(['Año', 'Semana_Epidemiologica', 'Total_Casos', 'Tasas_Incidencias',
       'Confirmados_Laboratorio', '%_Laboratorio_Confirmado', 'Dengue_Grave',
       '%_Dengue_Grave', 'Muertes', 'Letalidad', 'Poblacion_x_1000', 'ID_Pais',
       'ID_Serotipo', 'ID_Calendario'],
      dtype='object')

In [23]:
columns_to_fill = ['Tasas_Incidencias', 'Confirmados_Laboratorio', '%_Laboratorio_Confirmado', 
                    '%_Dengue_Grave', 'Poblacion_x_1000', 'ID_Serotipo']

# Reemplazar valores vacíos y espacios en blanco con NaN
datos[columns_to_fill] = datos[columns_to_fill].replace({'': np.nan, ' ': np.nan})

# Rellenar los NaN con guiones en las columnas especificadas
datos[columns_to_fill] = datos[columns_to_fill].fillna('-')

# Mostrar el DataFrame actualizado
datos

,Año,Semana_Epidemiologica,Total_Casos,Tasas_Incidencias,Confirmados_Laboratorio,%_Laboratorio_Confirmado,Dengue_Grave,%_Dengue_Grave,Muertes,Letalidad,Poblacion_x_1000,ID_Pais,ID_Serotipo,ID_Calendario
ID,,,,,,,,,,,,,,
1,2017,52,5561,113.35,106,1.91,2,0.04,0,0,4906,1,1,1
2,2018,52,2735,55.22,265,9.69,0,0.0,0,0,4953,1,1,2
3,2019,52,9400,189.78,365,3.88,11,0.12,0,0,4953,1,1,3
4,2020,53,10056,203.03,426,4.24,21,0.21,0,0,4953,1,1,4
5,2021,52,5174,100.68,250,4.83,3,0.06,0,0,5139,1,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,2020,50,1783,16.04,56,3.14,0,0.0,0,0,11113,21,4,4
225,2021,50,6298,54.57,19,0.3,0,0.0,0,0,11542,21,4,5
226,2022,26,3316,28.73,2,0.06,0,0.0,0,0,11542,21,4,9
227,2023,-,-,-,-,-,-,-,-,-,11542,21,4,10
228,2015,52,130,1.23,13,10.0,0,0.0,0,0,10604,21,3,7

In [24]:
datos

,Año,Semana_Epidemiologica,Total_Casos,Tasas_Incidencias,Confirmados_Laboratorio,%_Laboratorio_Confirmado,Dengue_Grave,%_Dengue_Grave,Muertes,Letalidad,Poblacion_x_1000,ID_Pais,ID_Serotipo,ID_Calendario
ID,,,,,,,,,,,,,,
1,2017,52,5561,113.35,106,1.91,2,0.04,0,0,4906,1,1,1
2,2018,52,2735,55.22,265,9.69,0,0.0,0,0,4953,1,1,2
3,2019,52,9400,189.78,365,3.88,11,0.12,0,0,4953,1,1,3
4,2020,53,10056,203.03,426,4.24,21,0.21,0,0,4953,1,1,4
5,2021,52,5174,100.68,250,4.83,3,0.06,0,0,5139,1,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,2020,50,1783,16.04,56,3.14,0,0.0,0,0,11113,21,4,4
225,2021,50,6298,54.57,19,0.3,0,0.0,0,0,11542,21,4,5
226,2022,26,3316,28.73,2,0.06,0,0.0,0,0,11542,21,4,9
227,2023,-,-,-,-,-,-,-,-,-,11542,21,4,10
228,2015,52,130,1.23,13,10.0,0,0.0,0,0,10604,21,3,7

In [25]:
datos.to_csv("casos_dengue_final.csv")

In [29]:
#pd.set_option('display.max_rows',None)

In [7]:
import pandas as pd

In [8]:
data=pd.read_csv("casos_dengue_final.csv", index_col=0)
data

,Año,Semana_Epidemiologica,Total_Casos,,Confirmados_Laboratorio,%_Laboratorio_Confirmado,Dengue_Grave,%_Dengue_Grave,Muertes,Letalidad,Poblacion_x_1000,ID_Pais,ID_Serotipo,ID_Calendario
ID,,,,,,,,,,,,,,
1,2017,52,5561,113.35,106,1.91,2,0.04,0,0,4906,1,1,1
2,2018,52,2735,55.22,265,9.69,0,0.0,0,0,4953,1,1,2
3,2019,52,9400,189.78,365,3.88,11,0.12,0,0,4953,1,1,3
4,2020,53,10056,203.03,426,4.24,21,0.21,0,0,4953,1,1,4
5,2021,52,5174,100.68,250,4.83,3,0.06,0,0,5139,1,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,2020,50,1783,16.04,56,3.14,0,0.0,0,0,11113,21,4,4
225,2021,50,6298,54.57,19,0.3,0,0.0,0,0,11542,21,4,5
226,2022,26,3316,28.73,2,0.06,0,0.0,0,0,11542,21,4,9
227,2023,-,-,-,-,-,-,-,-,-,11542,21,4,10
228,2015,52,130,1.23,13,10.0,0,0.0,0,0,10604,21,3,7

In [ ]:
datos.describe()

,Año,Semana_Epidemiologica,Total_Casos,Confirmados_Laboratorio,Dengue_Grave,Muertes,Letalidad,Poblacion_x_1000,ID_Pais,ID_Serotipo,ID_Calendario
count,228.000000,223.000000,2.230000e+02,2.110000e+02,214.000000,220.000000,211.000000,228.000000,228.000000,228.000000,228.000000
mean,2018.934211,48.713004,1.330496e+05,5.885983e+04,444.649533,62.927273,0.075554,30627.535088,10.921053,4.219298,5.934211
std,3.137111,10.244232,5.608816e+05,2.725410e+05,1575.034500,228.625362,0.134973,48949.396415,6.053571,3.059639,3.137111
min,2014.000000,5.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,2828.000000,1.000000,1.000000,1.000000
25%,2016.000000,52.000000,3.264500e+03,2.135000e+02,3.250000,0.000000,0.000000,6422.500000,6.000000,2.000000,3.000000
50%,2019.000000,52.000000,1.192400e+04,1.836000e+03,52.000000,6.000000,0.034610,11254.000000,11.000000,3.000000,6.000000
75%,2022.000000,52.000000,5.370650e+04,1.327150e+04,278.250000,36.250000,0.084550,31582.750000,16.000000,6.000000,9.000000
max,2024.000000,53.000000,6.400155e+06,2.972458e+06,19447.000000,2576.000000,0.988210,213993.000000,21.000000,15.000000,11.000000

In [3]:
# Verificar si hay algún valor nulo en cada columna
print(data.isnull().sum())

Año                         0
Semana_Epidemiologica       0
Total_Casos                 0
Tasas_Incidencias           0
Confirmados_Laboratorio     0
%_Laboratorio_Confirmado    0
Dengue_Grave                0
%_Dengue_Grave              0
Muertes                     0
Letalidad                   0
Poblacion_x_1000            0
ID_Pais                     0
ID_Serotipo                 0
ID_Calendario               0
dtype: int64

In [3]:
paises=pd.read_csv("Paises.csv")
paises

    ID_Pais_Subregion      País o Subregion
0                   1            Costa Rica
1                   2           El Salvador
2                   3             Guatemala
3                   4              Honduras
4                   5                México
5                   6             Nicaragua
6                   7                Panamá
7                   8               Bolivia
8                   9              Colombia
9                  10               Ecuador
10                 11                  Perú
11                 12             Venezuela
12                 13             Argentina
13                 14                Brasil
14                 15                 Chile
15                 16              Paraguay
16                 17               Uruguay
17                 18                  Cuba
18                 19  República Dominicana
19                 20           Puerto Rico
20                 21                 Haití

In [4]:
paises_nuevo={"ID_Pais_Subregion":"ID_Paises",
              "País o Subregion": "Paises"}

paises.rename(columns=paises_nuevo, inplace=True)
paises

    ID_Paises                Paises
0           1            Costa Rica
1           2           El Salvador
2           3             Guatemala
3           4              Honduras
4           5                México
5           6             Nicaragua
6           7                Panamá
7           8               Bolivia
8           9              Colombia
9          10               Ecuador
10         11                  Perú
11         12             Venezuela
12         13             Argentina
13         14                Brasil
14         15                 Chile
15         16              Paraguay
16         17               Uruguay
17         18                  Cuba
18         19  República Dominicana
19         20           Puerto Rico
20         21                 Haití

In [5]:
paises.to_csv("Paises.csv")

In [6]:
serotipo=pd.read_csv("Serotipo.csv")
serotipo

,ID_Serotipo,Serotipo,Serotipo_1,Serotipo_2,Serotipo_3,Serotipo_4,Sin datos
0,1,"DEN 1,2",1,1,0,0,0
1,2,"DEN 1,2,3",1,1,1,0,0
2,3,"DEN 1,2,3,4",1,1,1,1,0
3,4,,0,0,0,0,1
4,5,"DEN 1,3,4",1,0,1,1,0
5,6,DEN 2,0,1,0,0,0
6,7,"DEN 1,2,4",1,1,0,1,0
7,8,"DEN 2,3,4",0,1,1,1,0
8,9,"DEN 2,3",0,1,1,0,0
9,10,DEN 1,1,0,0,0,0
10,11,"DEN 1,3",1,0,1,0,0
11,12,"DEN 1,4",1,0,0,1,0
12,13,DEN 4,0,0,0,1,0
13,14,"DEN 2,4",0,1,0,1,0
14,15,"DEN 3,4",0,0,1,1,0